.zero-clipboard {
    display: block;
    position: relative;
}

.btn-clipboard {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: block;
    padding: 5px 8px;
    font-size: 12px;
    color: #767676;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-radius: 0 4px 0 4px;
}

.message-details {
    font-size: smaller;
    max-height: 120px;
}

.message-container {
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.message-button {
    margin-left: 5px;
}